.shape{
    width:180px;
    cursor: pointer;
    height: 120px;
}
.solid-border {
    border:2px solid gray;
}

.dotted-border{
    border:2px dotted gray;
}

.cursor{
    cursor: pointer;
}

.shape-dot{
    top:0;
    width:60px;
    float:left;
}

.top-list{
    margin-top:-40px;
}
.bottom-list{
    margin-top:120px;
}

.menu{
    position: absolute;
    background-color:white;

   
}

.menu ul{
    list-style-type: none;
    border:1px solid gray;
    
}

.menu ul li{
    text-decoration: underline;
    margin-top:10px;
}